*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
div{
    margin: 20px;
    margin-top: 50px;
}
#carte{
    width: 300px;
    height: 450px;
    background-color: bisque;
    border: solid black;
}
#btn_suivant, #btn_precedent{
    cursor: pointer;
    margin-top: 230px;
    width: 100px;
    height: 40px;
}