*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
}
div{
    margin: 20px;
    margin-top: 50px;
    border-radius: 10px;
}
#carte{
    width: 226px;
    height: 314px;
    padding: 0px;
}
#btn_suivant, #btn_precedent{
    cursor: pointer;
    margin-top: 120px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}
iframe{
    width: 226px;
    height: 314px;
    margin: 0px;

}